.baby{
    padding: 2rem 2rem;
    @media(max-width:769px){
        width: 100%;
    }
    .specual{
        img{
            width: 1320px;
            border-radius: 1rem;
            @media(max-width:769px){
                width: 340px;
            }
        }
    }
    .bigsave{
        display: flex;
        padding-top: 1rem;
        gap: 1rem;
        @media(max-width:769px){
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        img{
            width: 700px;
            border-radius: 1rem;
            @media(max-width:769px){
                width: 340px;
            }
        }
    }
    .furniture{
        display: flex;
        padding-top: 1rem;
        align-items: center;
        @media(max-width:769px){
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: .4rem;
            align-items: center;
        }
        // gap: .7rem;
        justify-content: space-between;
        img{
            width: 300px;
            @media(max-width:769px){
                width: 165px;
            }
        }
    }
}